<div id='Events' ng-controller="EventListController">
  <h2>Current Events</h2>
  <div class='events' ng-repeat="event in data.events | orderBy: reverse">
    <!-- Custom Directive Angular -->
    <eventInfo info='event'>
      <h2 class='title'>Title:  {{ event.label }}</h2>
      <p class='eventOwner'>Event Owner: {{ event.owner }}</p>
      <p class=''></p>
      <p class='time'>Time:  {{ event.time }}</p>
      <p class='date'>Date:  {{ event.date }}</p>
      <p class='zip'>Zip Code:  {{event.zip }}</p>
      <p class='outside'>Outside?  {{ event.inOut }}</p>
    </eventInfo>
  </div>
</div>


Event Owner
Title
Date
Time
Street address
City
State
Zip code
Latitude
Longitude
Indoor/Outdoor
Estimated weather 
Weather status
Public/Private
