<div ng-controller="EntryController">
  <div class='newEvent'>
    <h1>Enter New Event</h1>
    <form name="eventEntry">
      <h2>Event Details</h2>
      <div class="form-group">
        <label>Email: </label>
        <input type='email' ng-model='addOwner' placeholder="User email" required></input>
      </div>
      <div class="form-group">
        <label>Label:</label>
        <input ng-model='addLabel' placeholder="Enter Label" required></input>
      </div>
      <div class="form-group">
        <label>Time:</label>
        <input type='time' ng-model='addTime' placeholder="HH:MM" required></input>
      </div>
      <div class="form-group">
        <label>Date:</label>
        <input type='date' ng-model='addDate' placeholder="YYYY-MM-DD" required></input>
      </div>
      <div class="form-group">
        <label>Street Address:</label>
        <input ng-model='addStreet' placeholder="Street Address"></input>
      </div>
      <div class="form-group">
        <label>City:</label>
        <input ng-model='addCity' placeholder="City"></input>
      </div>
      <div class="form-group">
        <label>State:</label>
        <input ng-model='addState' placeholder="State"></input>
      </div>
      <div class="form-group">
        <label>Zip Code:</label>
        <input ng-model='addZip' placeholder="Event Zip Code" required></input>
      </div>
      <div class="checkbox">
        <label> <input type="checkbox" ng-model='outside' ng-true-value='1' ng-false-value='0'> Outside?</label>
      </div>
      <div role="alert">
        <span class="error" ng-show="eventEntry.input.$error.required">
          Required!</span>
        <span class="error" ng-show="eventEntry.input.$error.date">
          Not a valid date!</span>
      </div>
    <button ng-click="addEvent();" class='btn btn-default'>Submit</button>
    </form>
  </div>
</div>

<a href='#' ng-click="testData($event)">fill out form with test data</a>